.container-button{
  position: relative;
}

.button-add {
  position: absolute;
  right: 10px;
  border-radius: 10px;
  border-width: 1;
  background-color: lightsteelblue;
  border-color: aliceblue;
  color: white;
}

.button-add:hover {
  animation-duration: 1s;
  animation-name: inherit;
  background-color: lavender;
}


.create-table {
  width: 500px;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.create-table h3 {
  text-align: center;
}